body {
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.container,
.modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.modal.active {
    display: flex;
}
